* {
    background-color: rgb(255, 169, 10);
}
.garfitron {
    background-color: rgb(0, 0, 0);
}
h1 {
    color: rgb(46, 19, 0);
}
button {
    background-color: rgb(160, 139, 94);
    color: black;
}
